{% extends "users/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        {% if messages %}
          <div class="error">
            {% for message in messages %}
              {% if message.tags == 'contact error' %}<p>{{ message }}</p>{% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <form id="contact" action="/users/edit/{{ user.id }}/contact" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label class="sr-only" for="name">First Name</label>
            <input id="first_name" type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
          </div>
          <div class="form-group">
            <label class="sr-only" for="last_name">Last Name</label>
            <input id="last_name" type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input id="email" type="email" class="form-control" name="email" value="{{ user.email }}">
          </div>
          <div class="form-group">
            <label for="level">User level:</label>
            <select class="form-control" id="level" name="level">
              {% if user.level == 9 %}
                <option value="9">Admin</option>
                <option value="1">Normal</option>
              {% else %}
                <option value="1">Normal</option>
                <option value="9">Admin</option>
              {% endif %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <div class="col">
        {% if messages %}
          <div class="error">
            {% for message in messages %}
              {% if message.tags == 'pswd error' %}<p>{{ message }}</p>{% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <form id="pswd" action="/users/edit/{{ user.id }}/pswd" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
            <small id="emailHelp" class="form-text text-muted">Passwords must contain at least 8 characters and have at least 1 number, 1 lowecase letter, and 1 uppercase letter.</small>
            <label class="sr-only" for="pswd">Password</label>
            <input id="pswd" type="password" class="form-control" name="pswd" aria-describedby="emailHelp" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label class="sr-only" for="c_pswd">Confirm password</label>
            <input id="c_pswd" type="password" class="form-control" name="c_pswd" placeholder="Confirm password">
          </div>
          <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
