{% extends "users/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{title}}</h1>
    <p>We're going to build a cool application using an MVC framework! This application was built with the Village88 folks!</p>
    <p><a class="btn btn-primary" href="/register" role="button">Get Started</a></p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h2>Manage Users</h2>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
      </div>
      <div class="col-lg">
        <h2>Leave Messages</h2>
        <p>Users will be able to leave a message to another user using this application.</p>
      </div>
      <div class="col-lg">
        <h2>Edit User Information</h2>
        <p>Admins will be able to edit another user's information (email, address, first name, last name, etc.).</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
