.error {
    color: #721c24;
}

header {
  min-height: 56px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.comment {
  padding-left: 50px;
}

@media screen and (min-width: 992px) {
  #main-nav ul {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
