<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All Baseball Leagues</h1>
		<ol>
			{% for baseball in baseballs %}
				<li>{{baseball.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Womens' Leagues</h1>
		<ol>
			{% for woman in womens %}
				<li>{{woman.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Leagues Where Sport is Any Type of Hockey</h1>
		<ol>
			{% for hockey in hockeys %}
				<li>{{hockey.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Leagues Where Sport is Something Other Than Football</h1>
		<ol>
			{% for nofootball in nofootballs %}
				<li>{{nofootball.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Leagues That Call Themselves Conferences</h1>
		<ol>
			{% for conference in conferences %}
				<li>{{conference.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Leagues in the Atlantic Region</h1>
		<ol>
			{% for altantic in atlantics %}
				<li>{{altantic.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams Based in Dallas</h1>
		<ol>
			{% for dallas in dallases %}
				<li>{{dallas.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams Named the Raptors</h1>
		<ol>
			{% for raptor in raptors %}
				<li>{{raptor.location}} {{raptor.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams Whose Location Includes 'City'</h1>
		<ol>
			{% for city in cities %}
				<li>{{city.location}} {{city.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams Whose Names Begin with 'T'</h1>
		<ol>
			{% for tee in tees %}
				<li>{{tee.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams, Ordered Alphabetically by Location</h1>
		<ol>
			{% for location in locations %}
				<li>{{location.location}} {{location.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams, Ordered by Team Name in Reverse Alphabetical Order</h1>
		<ol>
			{% for alphabetical in alphabeticals %}
				<li>{{alphabetical.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>Every Player with Last Name 'Cooper'</h1>
		<ol>
			{% for cooper in coopers %}
				<li>{{cooper.first_name}} {{cooper.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>Every Player with First Name 'Joshua'</h1>
		<ol>
			{% for joshua in joshuas %}
				<li>{{joshua.first_name}} {{joshua.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>Every Player with Last Name 'Cooper' Except Those with 'Joshua' as the First Name</h1>
		<ol>
			{% for nojoshcooper in nojoshcoopers %}
				<li>{{nojoshcooper.first_name}} {{nojoshcooper.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Players with the First Name 'Alexander' or First Name 'Wyatt'</h1>
		<ol>
			{% for alexwyatt in alexwyatts %}
				<li>{{alexwyatt.first_name}} {{alexwyatt.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams in the Atlantic Soccer Conference</h1>
		<ol>
			{% for atlanticsoccer in atlanticsoccers %}
				<li>{{atlanticsoccer.sport}} {{atlanticsoccer.location}} {{atlanticsoccer.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All (Current) Players on the Boston Penguins</h1>
		<ol>
			{% for penguin in penguins %}
				<li>{{penguin.first_name}} {{penguin.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All (Current) Players in the International Collegiate Baseball Conference</h1>
		<ol>
			{% for baseballconference in baseballconferences %}
				<li>{{baseballconference.first_name}} {{baseballconference.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All (Current) Players in the American Conference of Amateur Football with Last Name 'Lopez'</h1>
		<ol>
			{% for footballopez in footballopezes %}
				<li>{{footballopez.first_name}} {{footballopez.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Football Players</h1>
		<ol>
			{% for footballer in footballers %}
				<li>{{footballer.first_name}} {{footballer.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams with a (Current) Player Name 'Sophia'</h1>
		<ol>
			{% for sophiateam in sophiateams %}
				<li>{{sophiateam.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Leagues with a (Current) Player Name 'Sophia'</h1>
		<ol>
			{% for sophialeague in sophialeagues %}
				<li>{{sophialeague.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>Everyone with the Last Name 'Flores' Who Doesn't (Currently) Play for the Washington Roughriders</h1>
		<ol>
			{% for flores in floreses %}
				<li>{{flores.first_name}} {{flores.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams, Past and Present, That Samuel Evans Has Played With</h1>
		<ol>
			{% for samuel in samuels %}
				<li>{{samuel.team_name}} {{samuel.last_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Players, Past and Present, with the Manitoba Tiger-Cats</h1>
		<ol>
			{% for manitoba in manitobas %}
				<li>{{manitoba.first_name}} {{manitoba.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Players Who Were Formerly (But Aren't Currently) with the Wichita Vikings</h1>
		<ol>
			{% for viking in vikings %}
				<li>{{viking.first_name}} {{viking.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>Every Team that Jacob Gray Played For Before He Joined the Oregon Colts</h1>
		<ol>
			{% for grayteam in grayteams %}
				<li>{{grayteam.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>Everyone Named 'Joshua' Who Has Ever Played in the Atlantic Federation of Amateur Baseball Players</h1>
		<ol>
			{% for joshuaatlantic in joshuaatlantics %}
				<li>{{joshuaatlantic.first_name}} {{joshuaatlantic.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>All Teams that Have Had 12 or More Players, Past and Present</h1>
		<ol>
			{% for twelve in twelves %}
				<li>{{twelve.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>All Players and Count of Teams Played For, Sorted by the Number of Teams They've Played For</h1>
		<ol>
			{% for playerteam in playerteams %}
				<li>{{playerteam.first_name}} {{playerteam.last_name}} - {{ playerteam.player_count }}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
	</body>
</html>
