{% extends "users/base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block content %}
<h1>Login & Registration</h1>
<h2>Login for Existing Users</h2>
{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'login error' %}<p class="messages">{{ message }}</p>{% endif %}
    {% endfor %}
{% endif %}
<form id="login" action="/login" method="POST">
  {% csrf_token %}
  <label for="username">Username</label>
  <input id="username" type="text" name="username" value="" placeholder="email...">
  <label for="password">Password</label>
  <input id="password" type="text" name="password" value="" placeholder="password...">
  <input type="hidden" id="refresh" value="no">
  <input type="submit" name="submit" value="Enter">
</form>
<div id="new-login">
  <h2>Register as a New Users</h2>
  {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'register error' %}<p class="messages">{{ message }}</p>{% endif %}
      {% endfor %}
  {% endif %}
  <form id="register" action="/register" method="POST" role="form">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input id="first_name" type="text" name="first_name" value="" placeholder="first name...">
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="last_name" value="" placeholder="last name...">
    <label for="r_email">Email Address</label>
    <input id="r_email" type="text" name="r_email" value="" placeholder="email...">
    <label for="r_password">Password</label>
    <input id="r_password" type="text" name="r_password" value="" placeholder="password...">
    <label for="c_password">Confirm Passowrd</label>
    <input id="c_password" type="text" name="c_password" value="" placeholder="confirm password...">
    <input type="hidden" id="refresh" value="no">
    <input id="regSubmit" type="submit" name="submit" value="Register">
  </form>
</div>
{% endblock %}
