{% extends "users/base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block content %}
    <h1>All Users</h1>
    {% if messages %}
      {% for message in messages %}
        <p class="messages">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <div class="main">
        <table>
          <tbody>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }} {{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.created_at|date:"M dS, Y" }}</td>
              <td><a href="/users/{{ user.id }}">Show</a>&nbsp;&nbsp;|&nbsp;<a href="/users/{{ user.id }}/edit">Edit</a>&nbsp;&nbsp;|&nbsp;<a href="/users/{{ user.id }}/destroy">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="clear"></div>
      <div class="logout"><a href="/users/new">Add a new user</a></div>
    </div>
{% endblock %}
